<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css"  rel="stylesheet" />
    <title>All Inventory Order Requests</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
<div class="flex">
    <button th:replace="fragments/sidebar :: sidebarhead"></button>
    <aside th:replace="fragments/sidebar :: sidebar('Approvals')"></aside>
    <div class="sm:ml-64 bg-slate-200 min-h-screen w-full">
        <section class="container px-4 py-4 mx-auto">
            <div class="sm:flex sm:items-center sm:justify-between m-5">
                <div>
                    <div class="flex items-center gap-x-3">
                        <h2 class="text-xl font-bold text-gray-800">List Inventory Order Requests</h2>
                    </div>
                </div>
            </div>
            <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-8" th:if="*{listPesananInventory.size() != 0}">
                <table id="ApprovalReqTable" class="w-full border-collapse bg-white text-left text-sm text-gray-500">
                    <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Date</th>
                        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Code</th>
                        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Status</th>
                        <th scope="col" class="px-6 py-4 font-medium text-gray-900"></th>
                    </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-100 border-t border-gray-100">
                    <tr th:each="pi, iterationStatus : ${listPesananInventory}" class="hover:bg-gray-50">
                        <td class="flex gap-3 px-6 py-4 font-normal text-gray-900">
                            <div class="text-sm font-medium text-gray-700" th:text="${#temporals.format(pi.waktuPemesanan, 'dd MMMM yyyy')}"></div>
                        </td>
                        <td class="px-6 py-4">
                            <div class="text-sm font-medium text-gray-700" th:text="${pi.kode}"></div>
                        </td>
                        <td class="px-6 py-4">
                            <a class="w-auto px-3 py-1 bg-yellow-500 text-gray-800 rounded-full text-sm font-medium" th:text="${pi.status}"></a>
                        </td>
                        <td class="px-6 py-4">
                            <a class="text-sm font-medium text-blue-950" th:href="@{/approval/detail/} + ${pi.id}">Detail</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="mx-5 mt-2 py-8" th:unless="*{listPesananInventory.size() != 0}">
                <h3 class="text-l font-bold text-gray-800" th:text="'No Request Waiting to be Approved'"></h3>
            </div>
        </section>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script>
    $(document).ready(function() {
        // $('#ApprovalReqTable').DataTable();
        var table = $('#ApprovalReqTable').DataTable({
            responsive: true
        })
            .columns.adjust()
            .responsive.recalc();
    });
</script>
</body>
</html>