<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
<div class="flex">
    <button th:replace="fragments/sidebar :: sidebarhead"></button>
    <aside th:replace="fragments/sidebar :: sidebar('Users')"></aside>
    <div class="sm:ml-64 bg-slate-200 h-screen w-full">
        <section class="container px-4 py-4 mx-auto">
            <div class="sm:flex sm:items-center sm:justify-between m-5">
                <div>
                    <div class="flex items-center gap-x-3">
                        <h2 class="text-2xl font-bold text-gray-800 ">Add Manager</h2>
                    </div>
                </div>
            </div>
            <form th:action="@{/user/addmanajer}" th:object="${manajer}" method="POST" >
                <div class="form-group m-5">
                    <label class="block mb-2 text-base font-medium text-gray-900 ">Name</label>
                    <input type="text" required class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Name" th:field="*{nama}">
                </div>
                <div class="form-group m-5">
                    <label class="block mb-2 text-base font-medium text-gray-900">Username</label>
                    <input type="text" id="username" onblur="checkUsername()" required class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Username" th:field="*{username}">
                </div>
                <div class="form-group m-5">
                    <label class="block mb-2 text-base font-medium text-gray-900">Password</label>
                    <input type="password" required class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Password" th:field="*{password}">
                </div>
                <div class="form-group m-5">
                    <label class="block mb-2 text-base font-medium text-gray-900">Contact</label>
                    <input type="text" required class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Contact" th:field="*{kontak}">
                </div>
                <div class="form-group m-5">
                    <label class="block mb-2 text-base font-medium text-gray-900">Cabang</label>
                    <input type="text" class="form-control bg-gray-300 border border-gray-300 text-gray-900 text-base font-semibold rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed" th:value="${cabang}" disabled>
                </div>
                <div class="form-group flex items-center justify-center">
                    <a th:href="@{/user}">
                        <button class="bg-transparent mx-2 hover:bg-red-700 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded" type="button">
                            Cancel
                        </button>
                    </a>
                    <button class="bg-blue-500 mx-2 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </section>
    </div>
</div>
</body>
<script th:inline="javascript">

    function checkUsername(){
        var temp3 = document.getElementById("username").value;
        console.log(temp3);
        var allUser = [[${listUser}]]
        var check = true;
        for(let i =0; i<allUser.length; i++){
            if(temp3 == allUser[i]){
                alert("That username is taken. Try another");
                check = false;
                return false;
            }
        }
    }
</script>
</html>