<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
</head>
<body>
<button th:fragment="sidebarhead" data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar" aria-controls="sidebar-multi-level-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
    </svg>
</button>
<aside th:fragment="sidebar(activeTab)" id="sidebar-multi-level-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-9 overflow-y-auto bg-gray-700 dark:bg-gray-800">
        <ul class="space-y-2">
            <li class="mb-8">
                    <a class=" flex items-center rounded-md px-4 dark:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path fill = "white" fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
                        </svg>
                        <th:block th:each="r, iter:${#authentication.getAuthorities()}">
                            <span class="ml-1 whitespace-nowrap text-lg text-gray-200 font-bold" th:text="${r}"></span>
                        </th:block>
                    </a>
            </li>
            <div>
                <li class="rounded-md" th:classappend="${activeTab == 'Dashboard'} ?  bg-blue-500: '' ">
                    <a href="/" class="p-2 mt-1 flex items-center rounded-md px-4 duration-300 cursor-pointer dark:text-white hover:bg-blue-500 dark:hover:bg-gray-700">
                        <span class="flex-1 ml-1 text-left whitespace-nowrap text-gray-200 font-bold">Dashboard</span>
                    </a>
                </li>
            </div>
            <li sec:authorize="hasAnyAuthority('ADMIN','MANAJER')" class="rounded-md" th:classappend="${activeTab == 'Users'} ?  bg-blue-500: '' ">
                <button type="button" class="flex items-center w-full p-2 mt-1 transition duration-75 rounded-md px-4 group hover:bg-blue-500 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
                    <span class="flex-1 ml-1 text-left whitespace-nowrap text-gray-200 font-bold" sidebar-toggle-item>Users</span>
                    <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
                <ul id="dropdown-example" class="hidden py-2 space-y-2">
                    <li class="rounded-md" th:classappend="${activeTab == 'UsersAll'} ?  bg-blue-500: '' ">
                        <a href="/user" class="flex items-center w-full p-2 text-base font-bold text-gray-200 transition duration-75 rounded-lg pl-11 group hover:bg-gray-500 dark:text-white dark:hover:bg-gray-700">All User</a>
                    </li>
                    <li class="rounded-md" th:classappend="${activeTab == 'UsersManajer'} ?  bg-blue-500: '' ">
                        <a href="/user/addmanajer" class="flex items-center w-full p-2 text-base font-bold text-gray-200 transition duration-75 rounded-lg pl-11 group hover:bg-blue-500 dark:text-white dark:hover:bg-gray-700">Manajer</a>
                    </li>
                    <li class="rounded-md" th:classappend="${activeTab == 'UsersBarista'} ?  bg-blue-500: '' ">
                        <a href="/user/addbarista" class="flex items-center w-full p-2 text-base font-bold text-gray-200 transition duration-75 rounded-lg pl-11 group hover:bg-blue-500 dark:text-white dark:hover:bg-gray-700">Barista</a>
                    </li>
                    <li class="rounded-md" th:classappend="${activeTab == 'UsersInventory'} ?  bg-blue-500: '' ">
                        <a href="/user/addstafinv" class="flex items-center w-full p-2 text-base font-bold text-gray-200 transition duration-75 rounded-lg pl-11 group hover:bg-blue-500 dark:text-white dark:hover:bg-gray-700">Staff Inventory</a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIN')" class="rounded-md" th:classappend="${activeTab == 'UsersPabrik'} ?  bg-blue-500: '' ">
                        <a href="/user/addstafpabrik" class="flex items-center w-full p-2 text-base font-bold text-gray-200 transition duration-75 rounded-lg pl-11 group hover:bg-blue-500 dark:text-white dark:hover:bg-gray-700">Staff Pabrik</a>
                    </li>
                </ul>
            </li>
            <div>
                <li sec:authorize="hasAnyAuthority('ADMIN','BARISTA')" class="rounded-md" th:classappend="${activeTab == 'Order'} ?  bg-blue-500: '' ">
                    <a href="/pesananCustomer/add" class="p-2 mt-1 flex items-center rounded-md px-4 duration-300 cursor-pointer dark:text-white hover:bg-blue-500 dark:hover:bg-gray-700">
                        <span class="flex-1 ml-1 whitespace-nowrap text-gray-200 font-bold">Orders</span>
                    </a>
                </li>
            </div>
            <li sec:authorize="hasAnyAuthority('ADMIN','BARISTA', 'MANAJER', 'StaffInventory')" class="rounded-md" th:classappend="${activeTab == 'Menus'} ?  bg-blue-500: '' ">
                <a href="/menu" class="p-2 mt-1 flex items-center rounded-md px-4 duration-300 cursor-pointer dark:text-white hover:bg-blue-500 dark:hover:bg-gray-700">
                    <span class="flex-1 ml-1 whitespace-nowrap text-gray-200 font-bold">Menus</span>
                </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN','MANAJER', 'StaffInventory')" class="rounded-md" th:classappend="${activeTab == 'Inventories'} ?  bg-blue-500: '' ">
                <a href="/inventory/viewall" class="p-2 mt-1 flex items-center rounded-md px-4 duration-300 cursor-pointer dark:text-white hover:bg-blue-500 dark:hover:bg-gray-700">
                    <span class="flex-1 ml-1 whitespace-nowrap text-gray-200 font-bold">Inventories</span>
                </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN','StaffPabrik')" class="rounded-md" th:classappend="${activeTab == 'Factory'} ?  bg-blue-500: '' ">
                <a href="/orderfactory/all" class="p-2 mt-1 flex items-center rounded-md px-4 duration-300 cursor-pointer dark:text-white hover:bg-blue-500 dark:hover:bg-gray-700">
                    <span class="flex-1 ml-1 whitespace-nowrap text-gray-200 font-bold">Factory</span>
                </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN','MANAJER', 'StaffInventory')" class="rounded-md "th:classappend="${activeTab == 'Suppliers'} ? bg-blue-500: '' ">
                <a href="/supplier/viewall" class="p-2 mt-1 flex items-center rounded-md px-4 duration-300 cursor-pointer dark:text-white hover:bg-blue-500 dark:hover:bg-gray-700">
                    <span class="flex-1 ml-1 whitespace-nowrap text-gray-200 font-bold">Suppliers</span>
                </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN','MANAJER', 'StaffInventory')" class="rounded-md" th:classappend="${activeTab == 'Requests'} ?  bg-blue-500: '' ">
                <a href="/orderinventory/all" class="p-2 mt-1 flex items-center rounded-md px-4 duration-300 cursor-pointer dark:text-white hover:bg-blue-500 dark:hover:bg-gray-700">
                    <span class="flex-1 ml-1 whitespace-nowrap text-gray-200 font-bold">Requests</span>
                </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN','MANAJER')" class="rounded-md" th:classappend="${activeTab == 'Approvals'} ?  bg-blue-500: '' ">
                <a href="/approval/all" class="p-2 mt-1 flex items-center rounded-md px-4 duration-300 cursor-pointer dark:text-white hover:bg-blue-500 dark:hover:bg-gray-700">
                    <span class="flex-1 ml-1 whitespace-nowrap text-gray-200 font-bold">Approvals</span>
                </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN','BARISTA', 'MANAJER', 'StaffInventory')" class="rounded-md" th:classappend="${activeTab == 'Transaction'} ?  bg-blue-500: '' ">
                <a href="/transaction/history" class="p-2 mt-1 flex items-center rounded-md px-4 duration-300 cursor-pointer dark:text-white hover:bg-blue-500 dark:hover:bg-gray-700">
                    <span class="flex-1 ml-1 whitespace-nowrap text-gray-200 font-bold">Transactions</span>
                </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN','MANAJER')" class="rounded-md" th:classappend="${activeTab == 'Report'} ?  bg-blue-500: '' ">
                <a href="/report" class="p-2 mt-1 flex items-center rounded-md px-4 duration-300 cursor-pointer dark:text-white hover:bg-blue-500 dark:hover:bg-gray-700">
                    <span class="flex-1 ml-1 whitespace-nowrap text-gray-200 font-bold">Reports</span>
                </a>
            </li>
            <li>
                <a href = "/logout" class = "p-2 mt-1 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-500 ">
                    <span class="flex-1 ml-1 whitespace-nowrap text-gray-200 font-bold">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
</body>
</html>