<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
<div class="flex">
    <button th:replace="fragments/sidebar :: sidebarhead"></button>
    <aside th:replace="fragments/sidebar :: sidebar('Menus')"></aside>
    <div class="sm:ml-64 bg-slate-200 min-h-screen w-full">
        <section class="container px-4 py-4 mx-auto">
            <div class="sm:flex sm:items-center sm:justify-between m-5">
                <div>
                    <div class="flex items-center gap-x-3">
                        <h2 class="text-2xl font-bold text-gray-800 ">Add Menu</h2>
                    </div>
                </div>
            </div>
            <form th:action="@{/menu/add}" th:object="${menu}" method="POST" >
                <div class="form-group m-5">
                    <label class="block mb-2 text-base font-medium text-gray-900 ">Name</label>
                    <input type="text" required class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder="Name" th:field="*{nama}">
                </div>
                <div class="form-group m-5">
                    <label class="block mb-2 text-base font-medium text-gray-900">Price</label>
                    <input type="number" required class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
             placeholder="Price" th:field="*{harga}">
                </div>
                <div class="form-group m-5">
                    <label class="block mb-2 text-base font-medium text-gray-900">Category</label>
                    <select th:field="*{kategori}"
                            class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            placeholder="Category">
                        <option th:value="'Coffee'" th:text="Coffee"></option>
                        <option th:value="'Non-Coffee'" th:text="Non-Coffee">
                    </select>
                </div>
                <div class="form-group m-5">
                    <label class="block mb-2 text-base font-medium text-gray-900">Ingredients</label>
                    <div class="flex" th:each="inventory, iterationStatus: *{resepList}">
                            <select name="id" th:field="*{resepList[__${iterationStatus.index}__].inventory.id}"
                                    class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ingredients">
                                <div th:each="inventoryEx, iterationStatus2 : ${listInventory}">
                                    <option th:value="${inventoryEx.id}" th:text="${inventoryEx.nama}"></option>
                                </div>
                            </select>
                        <input type="number" class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Quantity" th:field="*{resepList[__${iterationStatus.index}__].jumlah}">
                        <button th:value="${iterationStatus.index}" class="bg-red-500 mx-2 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" name="deleteRowResep">
                            <a x-data="{ tooltip: 'Delete' }" th:value="${iterationStatus.index}">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke-width="1.5"
                                        stroke="currentColor"
                                        class="h-6 w-6"
                                        x-tooltip="tooltip"
                                >
                                    <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                                    />
                                </svg>
                            </a>
                        </button>
                        <br>
                    </div>
                    <br>
                    <button class="bg-blue-500 mx-2 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" name="addRow">
                        Add More Ingredients
                    </button>
                    <div class="form-group flex items-center justify-center">
                        <a th:href="@{/menu}">
                            <button class="bg-transparent mx-2 hover:bg-red-700 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded" type="button">
                                Cancel
                            </button>
                        </a>
                        <button class="bg-blue-500 mx-2 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" name="save">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
</body>
</html>