<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css"  rel="stylesheet" />
  <title>Menu</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
<div class="flex">
  <button th:replace="fragments/sidebar :: sidebarhead"></button>
  <aside th:replace="fragments/sidebar :: sidebar('Menus')"></aside>
  <div class="sm:ml-64 bg-slate-200 min-h-screen w-full">
    <section class="container px-4 py-4 mx-auto">
      <div class="sm:flex sm:items-center sm:justify-between m-5">
        <div>
          <div class="flex items-center gap-x-3">
            <h2 class="text-2xl font-bold text-gray-800">Delete Menu</h2>
          </div>
        </div>

      </div>
      <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
        <table id ="MenuTable" class="w-full border-collapse bg-white text-left text-sm text-gray-500">
          <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900"></th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Name</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Price</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Status</th>
          </tr>
          </thead>
          <tbody class="divide-y divide-gray-100 border-t border-gray-100">
          <tr th:each="menu, iterationStatus : ${listMenu}" class="hover:bg-gray-50">
            <td class="gap-3 px-6 py-4 font-normal text-gray-900">
              <input type="checkbox" name="menuobj" class="menuobj" id="menuobj_${menu.id}" th:value="${menu.id}"/>
            </td>
            <td class="flex gap-3 px-6 py-4 font-normal text-gray-900">
              <div class="text-sm font-medium text-gray-700" th:text="${menu.nama}"></div>
            </td>
            <td class="px-6 py-4">
              <div class="text-sm font-medium text-gray-700" th:text="${menu.harga}"></div>
            </td>
            <td th:switch="${menu.status}" class="px-6 py-4">
              <a th:case="true" class="px-2 py-1 bg-green-200 text-green-600 rounded-full text-sm font-medium" th:if="${menu.status}== true" th:text="'Available'"></a>
              <a th:case="false" class="px-2 py-1 bg-red-200 text-red-600 rounded-full text-sm font-medium" th:if="${menu.status}== false" th:text="'Out of Stock'"></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group flex items-center justify-center">
        <a th:href="@{/menu}">
          <button class="bg-transparent mx-2 hover:bg-red-700 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded" type="button">
            Cancel
          </button>
        </a>
        <button type="submit" name="add" id="add" onclick="deleterecords();" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Delete
        </button>
      </div>
    </section>
  </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script>
  $(document).ready(function() {
    // $('#MenuTable').DataTable();
    var table = $('#MenuTable').DataTable({
      responsive: true
    })
            .columns.adjust()
            .responsive.recalc();
  });
</script>
<script th:inline="javascript">
  function deleterecords(){
    var ids = $('input:checkbox:checked.menuobj').map(function() {
                  return this.value;
                 }).get();

    if (ids.length == 0){
      alert("Please select at least one menu");
        return false;
    }

    var x = window.confirm("Are you sure to want to delete these records ?");
    if (x && (ids.length > 0)) {
      console.log(ids);
      window.location = `hide/${ids}`;
    }
  }
</script>
</body>
</html>
