<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css"  rel="stylesheet" />
  <title>Menu</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
<div class="flex">
  <button th:replace="fragments/sidebar :: sidebarhead"></button>
  <aside th:replace="fragments/sidebar :: sidebar('Menus')"></aside>
  <div class="sm:ml-64 bg-slate-200 min-h-screen w-full">
    <section class="container px-4 py-4 mx-auto">
      <div class="sm:flex sm:items-center sm:justify-between m-5">
        <div>
          <div class="flex items-center gap-x-3">
            <h2 class="text-2xl font-bold text-gray-800">Menu List</h2>
          </div>
        </div>

        <div th:if="${role}==true">
          <div class="flex items-center mt-4 gap-x-3">
            <a th:href="@{/menu/show}">
              <button class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-600 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-950">
                Add Menu
              </button>
            </a>
            <div th:if="${deletable}">
              <a th:href="@{/menu/hide}">
                <button class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-red-600 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-red-600" >
                  Delete Menu
                </button>
              </a>
            </div>
            <div th:unless="${deletable}">
              <a th:disabled="${deletable == false}">
                <button disabled class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-gray-500 rounded-lg shrink-0 sm:w-auto gap-x-2">
                  <div title="Deleting menu items can only take place after the store has closed or before the store opens">
                    Delete Menu
                  </div>
                </button>
              </a>
<!--              <span class="tooltip-text">Deleting menu items can only take place after the store has closed or before the store opens.</span>-->
            </div>
          </div>
        </div>
      </div>
      <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
        <table id ="MenuTable" class="w-full border-collapse bg-white text-left text-sm text-gray-500">
          <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Name</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Price</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Status</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900"></th>
          </tr>
          </thead>
          <tbody class="divide-y divide-gray-100 border-t border-gray-100">
          <tr th:each="menu, iterationStatus : ${listMenu}" class="hover:bg-gray-50">
            <div th:if="${menu.isShow} == true">
              <td class="flex gap-3 px-6 py-4 font-normal text-gray-900">
                <div class="text-sm font-medium text-gray-700" th:text="${menu.nama}"></div>
              </td>
              <td class="px-6 py-4">
                <div class="text-sm font-medium text-gray-700" th:text="${menu.harga}"></div>
              </td>
              <td th:switch="${menu.status}" class="px-6 py-4">
                <a th:case="true" class="px-2 py-1 bg-green-200 text-green-600 rounded-full text-sm font-medium" th:if="${menu.status}== true" th:text="'Available'"></a>
                <a th:case="false" class="px-2 py-1 bg-red-200 text-red-600 rounded-full text-sm font-medium" th:if="${menu.status}== false" th:text="'Out of Stock'"></a>
              </td>
              <td class="px-6 py-4">
                <div class="flex justify-end gap-4" th:if="${editable}">
                  <a x-data="{ tooltip: 'Edite' }" th:href="@{/menu/update/} + ${menu.id}">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="h-6 w-6"
                            x-tooltip="tooltip"
                    >
                      <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                      />
                    </svg>
                  </a>
                </div>
                <div class="flex justify-end gap-4" th:unless="${editable}">
                  <a x-data="{ tooltip: 'Edite' }" th:disabled="${editable == false}" title="Updating menu items can only take place after the store has closed or before the store opens">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="h-6 w-6"
                            x-tooltip="tooltip"
                    >
                      <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                      />
                    </svg>
                  </a>
                </div>
              </td>
            </div>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script>
  $(document).ready(function() {
    // $('#MenuTable').DataTable();
    var table = $('#MenuTable').DataTable({
      responsive: true
    })
            .columns.adjust()
            .responsive.recalc();
  });
</script>
</body>
</html>