<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SINuansa</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css"  rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/datepicker.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
<div class="flex">
    <div class="bg-slate-200 min-h-screen w-full">
        <h1 class="text-3xl font-bold underline m-10">
            Pilih Cabang
        </h1>
        <form th:action="@{/}" th:object="${user}" method="POST">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{role}"/>
            <input type="hidden" th:field="*{nama}"/>
            <input type="hidden" th:field="*{username}"/>
            <input type="hidden" th:field="*{password}"/>
            <div class="form-group m-5">
                <label class="block mb-2 text-base font-medium text-gray-900">Cabang</label>
                <select name="id" th:field="*{cabang}"
                        class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Cabang">
                    <div th:each="cabang, iterationStatus2 : ${listCabang}">
                        <option th:value="${cabang.id}" th:text="${cabang.nama}"></option>
                    </div>
                </select>
            </div>
            <div class="form-group flex items-center justify-center">
                <button class="bg-blue-500 mx-2 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Submit
                </button>
            </div>
        </form>

    </div>
</div>
</body>
</html>