<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body class>
<!--<div class = "bg-[url('../images/login-bg.png')] bg-no-repeat bg-cover bg-center"></div>-->
<!--bg-[url('../images/login-bg.png')] bg-login-->
    <div class="flex flex-col h-screen bg-[url('../images/login-bg.png')] bg-no-repeat bg-cover bg-center justify-center items-center ">
            <div class="w-full max-w-xs">
                <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" th:action="@{/login}" method="POST">
                    <div th:if="${param.error}">
                        <a class="text-red-500">Invalid username or password.</a>
                        <br>
                        <a th:href="@{/info}" class=" text-xs text-red-600 hover:underline">Forgot your password?</a>
                    </div>
                    <div class="form-group mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" name="username">
                            Username
                        </label>
                        <input class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username" name="username">
                    </div>
                    <div class="form-group mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2" name="password">
                            Password
                        </label>
                        <input class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************" name="password">
                        <div th:unless="${param.error}">
                            <a th:href="@{/info}" class="text-xs text-red-600 hover:underline">Forgot your password?</a>
                        </div>
                    </div>
                    <div class="form-group flex items-center justify-center">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" th:href="@{/home}" type="submit">
                            Sign In
                        </button>
                    </div>
                </form>
                <p class="text-center text-gray-500 text-xs">
                    &copy;2023 Sinuansa Corp. All rights reserved.
                </p>
            </div>
</div>

</body>
</html>