<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SINUANSA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
<div class="flex">
    <button th:replace="fragments/sidebar :: sidebarhead"></button>
    <aside th:replace="fragments/sidebar :: sidebar('Requests')"></aside>
    <div class="sm:ml-64 bg-slate-200 min-h-screen w-full">
        <section class="container px-4 py-4 mx-auto">
            <div class="container">
                <div class="card m-4 p-4">
                    <div class="card-body">
                        <div class="justify-content-center">
                            <h2 class="text-xl font-bold text-gray-900">Inventory Order Detail</h2>
                        </div>
                    </div>
                    <div class="flex items-center mt-4 gap-x-3">
                        <a th:href="@{/orderinventory/all}">
                            <button class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-gray-800 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-900"
                            th:text="'Back'"></button>
                        </a>
                    </div>
                    <div class="flex items-center mt-4 gap-x-3">
                        <p class="font-semibold" th:text="'Order         : ' + ${pesananInventory.kode}"></p>
                    </div>
                    <div class="flex items-center mt-4 gap-x-3">
                        <p class="font-semibold" th:text="'Status        : ' + ${pesananInventory.status}"></p>
                    </div>
                    <div class="flex items-center mt-4 gap-x-3">
                        <p class="font-semibold" th:text="'Created at    : ' + ${#temporals.format(pesananInventory.waktuPemesanan, 'dd MMMM yyyy')}"></p>
                    </div>
                    <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5" th:if="${pesananInventory.getEntryPIList().size() != 0}">
                        <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col" class="px-6 py-4 font-medium text-gray-900">No</th>
                                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Product Name</th>
                                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Quantity</th>
                                <th scope="col" class="px-6 py-4 font-medium text-gray-900"></th>
                            </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-100 border-t border-gray-100">
                            <tr th:each="entry, iterationStatus : ${pesananInventory.getEntryPIList()}">
                                <td class="px-6 py-4">
                                    <div class="text-sm font-semibold font-medium text-gray-600" th:text="${iterationStatus.count}"></div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm font-semibold font-medium text-gray-600" th:text="${entry.getInventory.getNama()}"></div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm font-semibold font-medium text-gray-600" th:text="${entry.getKuantitas()}"></div>
                                </td>
                                <td class="px-6 py-4">
                                    <a class="text-sm font-semibold font-medium text-blue-500"  th:href="@{/orderinventory/supplier/} + ${entry.id}">Contact Supplier</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="flex items-center mt-4 gap-x-3" th:if="${flag}">
                        <a class="btn btn-primary" th:href="@{/orderinventory/update/} + ${pesananInventory.id}">Update Status</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</div>
</div>
</body>
</html>