<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SINUANSA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
<div class="flex">
    <button th:replace="fragments/sidebar :: sidebarhead"></button>
    <aside th:replace="fragments/sidebar :: sidebar('Requests')"></aside>
    <div class="sm:ml-64 bg-slate-200 min-h-screen w-full">
        <section class="container px-4 py-4 mx-auto">
            <div class="container">
                <div class="card m-4 p-4">
                    <div class="card-body">
                        <div class="justify-content-center">
                            <h2 class="text-xl font-bold text-gray-900">Inventory Order Detail</h2>
                        </div>
                    </div>
                    <div class="flex items-center mt-4 gap-x-3">
                        <p class="font-semibold" th:text="'Order         : ' + ${pesananInventory.kode}"></p>
                    </div>
                    <!--                    <div class="flex items-center mt-4 gap-x-3">-->
                    <!--                        <p th:text="'PIN         : ' + ${pesananInventory.pin}"></p>-->
                    <!--                    </div>-->
                    <div class="flex items-center mt-4 gap-x-3">
                        <p class="font-semibold" th:text="'Status        : ' + ${pesananInventory.status}"></p>
                    </div>
                    <div class="flex items-center mt-4 gap-x-3">
                        <p class="font-semibold" th:text="'Created at    : ' + ${#temporals.format(pesananInventory.waktuPemesanan, 'dd MMMM yyyy')}"></p>
                    </div>
                    <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5" th:if="${pesananInventory.getEntryPIList().size() != 0}">
                        <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col" class="px-6 py-4 font-medium text-gray-900">No</th>
                                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Product Name</th>
                                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Quantity</th>
                                <th scope="col" class="px-6 py-4 font-medium text-gray-900"></th>
                            </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-100 border-t border-gray-100">
                            <tr th:each="entry, iterationStatus : ${pesananInventory.getEntryPIList()}">
                                <td class="px-6 py-4">
                                    <div class="text-sm font-medium text-gray-600" th:text="${iterationStatus.count}"></div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm font-medium text-gray-600" th:text="${entry.getInventory.getNama()}"></div>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-sm font-medium text-gray-600" th:text="${entry.getKuantitas()}"></div>
                                </td>
                                <td class="px-6 py-4">
                                    <a class="text-sm font-medium text-blue-950"  th:href="@{/orderinventory/supplier/} + ${entry.id}">Contact Supplier</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <form th:action="@{/orderinventory/update/} + ${pesananInventory.id}" th:object="${pesananInventory}" method="POST">
                        <div class="flex items-center mt-4 gap-x-3">
                            <p class="font-semibold text-blue-950" th:text="'Are you sure want to update the order status for: ' + ${pesananInventory.kode}"></p>
                        </div>

                        <div class="flex items-center mt-4 gap-x-3">
                            <button class="bg-blue-500 mx-2 hover:bg-blue-950 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" name="update">
                                Update
                            </button>
                            <a th:href="@{/orderinventory/detail/} + ${pesananInventory.id}">
                                <button class="bg-transparent mx-2 hover:bg-red-700 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded" type="button"
                                        th:text="'Cancel'"></button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
</div>
</div>
</body>
</html>